body {
  background-color: white;
  overflow-y:hidden;
  overflow-x: hidden;
  animation: ScrollDelay 4.25s ease-in-out 0s forwards;
}

@keyframes ScrollDelay{
  0%{
    overflow-y:hidden;
  }
  100%{
    overflow-y:auto;
  }
}

.Screen1{
  background-color: white; /* #f4dfbd */
  width: 1920px;
  height:1080px;
  top: 0;
  left: 0;
  animation: fadeIn 0.75s ease-in-out 0s forwards;
  animation-delay: 0.5s;
}

.Slide1{
  background-image: url("../pins_sprite.png")
}

@keyframes fadeIn{
  0%{
    background-color: white;
  }
  100%{
    background-color: #f4dfbd;
  }
}

.Page {
  width: 509px;
  height: 656px;
  position: absolute;
  top: 1000px; /* Normally 100px */
  opacity: 0;
  left: 300px;
  background-image: url("../pins_sprite.png");
  animation: slidePage 0.75s ease-in-out 0s forwards;
  animation-delay: 1s;
  z-index: 1;
}

@keyframes slidePage{
  from { top: 1000px; opacity: 0; }
    to { top: 100px; opacity: 1; }
}

#Paper{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 509px;
  height: 656px;
  background-image: url("../pins_sprite.png");
  background-position: 0px 0px;
}

#Text_Hi{
  position: absolute;
  top: 150px;
  left: 50px;
  width: 344px;
  height: 289px;
  background-image: url("../pins_sprite.png");
  background-position: -80px -674px;
}

#Text_Scroll{
  position: absolute;
  opacity: 0;
  top: 450px;
  left: 65px;
  width: 391px;
  height: 93px;
  background-image: url("../pins_sprite.png");
  background-position: -86px -972px;
  animation: blink 2.5s infinite;
  animation-delay: 2.25s;
}

@keyframes blink{
  0%{     opacity: 0;    }
  60%{   opacity: 1;    }
  100%{   opacity: 0;    }
}

#Kyle{
  position: absolute;
  top: 174px;
  left: 900px;
  z-index: 2;
}

.Char{
  position: absolute;
  top: 2px;
  left: 0px;
  width: 881px;
  height: 764px;
  background-image: url("../CharPose2.png");
  background-position: 0px 0px;
  z-index: 1;
}

/*
  Pose 2:
  position: absolute;
  top: 0px;
  left: -670px;
  width: 1550px;
  height: 763px;
  background-image: url("../CharPose.png");
  background-position: -903px 0px;
  z-index: 1;
*/


#Tacks{
  position: absolute;
  top: -200px; /* normally 40px*/
  left: 1100px;
  width: 576px;
  height: 135px;
  opacity: 0;
  background-image: url("../pins_sprite.png");
  background-position: -576px -30px;
  animation: slideTacks 0.75s ease-in-out 0s forwards;
  animation-delay: 1s;
}

@keyframes slideTacks{
  from { top: -200px; opacity: 0; }
    to { top: 40px; opacity: 1; }
}

.Screen2{
  background-color: #7ad59e;/* #b7db84; 7ad59e */
  width: 1920px;
  height: 1080px;
  top: -1920px;
  left: 0;
}

#pin_Pose{
  position: relative;
  top: 580px;
}

.Screen3{
  background-color: #70bbde;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;
}
