body{
    overflow: hidden;
    animation: ScrollDelay 4.25s ease-in-out 0s forwards;
}

@keyframes ScrollDelay{
    0%{
      overflow-y:hidden;
    }
    100%{
      overflow-y:scroll;
    }
  }

#Scene1{
    position: relative;
    top: 0px;
    left: 0px;
}

h1 {
    position: absolute;
    top: 165px;
    left: 215px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 142px;
    color: #fff;
    text-shadow: 12px 1px rgba(0,0,0,.16);
    letter-spacing: 3.6px;
    z-index: 2;
}

h2 {
    position: absolute;
    top: 650px;
    left: 215px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    color: #fff;
    text-shadow: 4px 3px rgba(0,0,0,.16);
    font-size: 48px;
    white-space: nowrap;
    z-index: 2;
}

svg {
    opacity: 0;
    position: absolute;
    left: -13px;
    z-index: 2;
}

#RedCurve {
    position: absolute;
    top: -10px;
    left: -240px;
    background-size: 110% 95%;
    background-repeat: no-repeat;
    width: 2200px;
    height: 1500px;
    background-image: url("img/Scene1/RedCurve.svg");
    z-index: 1;
}

#BlueCurve {
    position: absolute;
    top: 0px;
    left: -6px;
    width: 1139.13px;
    height: 1100.95px;
    background-image: url("img/Scene1/BlueCurve.svg");
    z-index: 0;
}

#Pose {
    position: absolute;
    top: 273px;
    left: 1135px;
    width: 881px;
    height: 761px;
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-image: url("img/Scene1/Pose1.svg");
    opacity: 1;
    z-index: 0;
}

#Scene2 {
    position: relative;
    top: 1000px;
}

#BlueCurve2 {
    position: absolute;
    width: 1047px;
    height: 585px;
    top: 2500px; /*  1200 by 1000*/
    left: 1000px;
    background-image: url("img/Scene2/BlueCurve2.svg");
    z-index: 0;
}

#BlueCurve2.Invisible {
    opacity: 0;
}

.About {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    white-space: nowrap;
}

#A1 {
    position: absolute;
    top: 2800px;
    left: 700px;
    color: rgba(0,0,0,.69);
    font-size: 34px;
}

#A2 {
    position: absolute;
    top: 3550px;
    left: 475px;
    color: rgba(71,137,159,.81);
    font-size: 37px;
}

#A3 {
    position: absolute;
    top: 4300px;
    left: 150px;
    color: rgba(253,100,103,.80);
    font-size: 40px;
}

#Scene3 {
    position: relative;
    top: 8100px;
    left: -500px;
}

.Network {
    position: absolute;
    width: 250px;
    height: 3093px;
    top: -1650px; /* -700 by 525 */
    left: 2475px; /* 2175 */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("img/Scene3/Network.svg"),
                      url("img/Scene3/NetworkBlue.svg"),
                      url("img/Scene3/NetworkGreen.svg"),
                      url("img/Scene3/NetworkYellow.svg");
    z-index: 3;
}

.Network.Blue {
    background-image: url("img/Scene3/NetworkBlue.svg");
}

.Network.Green {
    background-image: url("img/Scene3/NetworkGreen.svg");
}

.Network.Yellow {
    background-image: url("img/Scene3/NetworkYellow.svg");
}

#BackTab1 {
    position: absolute;
    top: -1850px;
    left: 2410px; /* 2475 */
    width: 1950px;
    height: 225px;
    background-repeat: no-repeat;
    background-image: url("img/Scene3/BackTab1.svg");
}

#BackTab2 {
    position: absolute;
    top: 2800px;
    left: 475px;
    width: 1980px;
    height: 225px;
    transform: rotate(180deg);
    background-repeat: no-repeat;
    background-image: url("img/Scene3/BackTab1.svg");
    z-index: 3;
}

#LabTab {
    position: absolute;
    top: -1350px; /* Original: 100px  by 1000px*/
    left: 2950px; /* New -900 by 2700 */
}

#RedSplat {
    position: absolute;
    top: -235px;
    left: -250px;
    width: 855px;
    height: 706px;
    background-repeat: no-repeat;
    background-image: url("img/Scene3/RedSplat.svg");
    z-index: 1;
}

#LabDate{
    position: absolute;
    top: -125px;
    left: 350px;
    width: 166px;
    height: 139px;
    background-repeat: no-repeat;
    background-image: url("img/Scene3/2015Circle.svg");
    z-index: 2;
}

#LabTitle{
    position: relative;
    color: #555555;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 99px;
    letter-spacing: -0.087em;
    z-index: 2;
}

#LabDesc{
    position: relative;
    top: 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-align: center;
    color: rgba(0,0,0,.82);
    font-size: 20;
    line-height: 30px;
    z-index: 2;
}

#LabLogo {
    position: absolute;
    top: -140px;
    left: 650px;
    width: 554px;
    height: 564px;
    background-repeat: no-repeat;
    background-image: url("img/Scene3/LabyrinthLogo.svg");
    z-index: 1;
}

#Labbutton {
    position: absolute;
    padding: 0;
    border: none;
    background: none;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-align: center;
    color: rgba(0,0,0,.82);
    font-size: 20px;
    top: 290px;
    left: 122.5px;
    opacity: 0;
    z-index: 7;
}

#Labbutton:active {
    border: none;
    background: none;
    color: #fff;
}

#Labbutton:hover {
    cursor:pointer;
}

#Labbutton:focus {
    outline: none;
}

#LabFull {
    position: absolute;
    top: -450px; /* -650  in scene 3*/
    left: 4300px; /* 600 */
    z-index: 7; 
}

#LabBackButton {
    position: absolute;
    top: 1300px;
    left: 1150px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: #555555;
    font-size: 33px;
    letter-spacing: -0.071em;
    z-index: 4;
}

#RedCloud {
    position: relative;
    width: 2600px;
    height: 1803px;
    background-image: url("img/Scene3Proj/Labyrinth/RedCloud.svg");
    z-index: 0;
}

#LabGrid {
    position: absolute;
    top: 650px;
    left: 1450px;
    width: 567.18px;
    height: 563.16px;
    background-image: url("img/Scene3Proj/Labyrinth/LabGrid.svg");
    z-index: 1;
}

#LabGrid.Pose2 {
    background-image: url("img/Scene3Proj/Labyrinth/LabGrid2.svg");
}

#LabGrid.Pose3 {
    background-image: url("img/Scene3Proj/Labyrinth/LabGrid3.svg");
}

#LabExtTitle{
    position: absolute;
    top: 800px;
    left: 650px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 140px;
    letter-spacing: -0.087em;
    z-index: 1;
}

#LabExtDate{
    position: absolute;
    top: 650px;
    left: 450px;
    width: 216px;
    height: 193px;
    background-size: 95% 95%;
    background-repeat: no-repeat;
    background-image: url("img/Scene3Proj/Labyrinth/LabDate.svg");
    z-index: 1;
}

#LabSubTitle{
    position: absolute;
    top: 1000px;
    left: 650px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 52px;
    text-align: left;
    letter-spacing: -0.087em;
    z-index: 1;
}

#PlayerToken {
    position: absolute;
    top: 45px;
    left: 45px;
    width: 120px;
    height: 120px;
    background-image: url("img/Scene3Proj/Labyrinth/Player.svg");
    z-index: 3;
}

#PlayerPath {
    position: absolute;
    top: 75px;
    left: 105px;
    width: 365px;
    height: 420px;
    background-repeat: no-repeat;
    background-image: url("img/Scene3Proj/Labyrinth/Path.svg");
    z-index: 2;
}

#Key {
    position: absolute;
    top: 415px;
    left: 405px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 65px;
    letter-spacing: -0.087em;
    z-index: 2;
}

#PMove1 {
    position: absolute;
    top: 2100px;
    left: 460px;
    color: #555555;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 40px;
    text-align: left;
    letter-spacing: -0.087em;
    white-space: nowrap;
    z-index: 2;
}

#PMove2 {
    position: absolute;
    top: 2300px;
    left: 460px;
    color: #555555;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 40px;
    text-align: left;
    letter-spacing: -0.087em;
    white-space: nowrap;
    z-index: 2;
}

#PMaze1 {
    position: absolute;
    top: 4500px;
    left: 460px;
    color: #555555;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 40px;
    text-align: left;
    letter-spacing: -0.087em;
    white-space: nowrap;
    z-index: 2;
}

#PMaze2 {
    position: absolute;
    top: 4700px;
    left: 460px;
    color: #555555;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 40px;
    text-align: left;
    letter-spacing: -0.087em;
    white-space: nowrap;
    z-index: 2;
}

#learnSection {
    position: absolute;
    top: 8050px;
    left: 350px;
    color: #555555;
    font-family: 'Roboto Slab', serif; 
    text-align: center;
}

#LearnHeader {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    padding: 60px 38px 0px 0px;
    z-index: 2;
}

.LearnTitle {
    font-weight: 200;
    font-size: 40px;
    padding: 0px 0px 20px 0px;
    margin: auto;
    z-index: 2;
}

.LearnDesc {
    font-weight: 200;
    font-size: 24px;
    margin: auto;
    z-index: 2;
}

.LearnContainer {
    display: inline-block;
    vertical-align: top;
    padding: 140px 105px 50px 105px;
}

#GridBanner {
    position: absolute;
    top: 9200px;
    width: 2277.32px;
    height: 784px;
    background-repeat: no-repeat;
    background-image: url("img/Scene3Proj/Labyrinth/GridBanner.svg");
    z-index: 0;
}

#DownloadTitle {
    position: absolute;
    top: 50px;
    left: 700px;
    color: #555555;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 96px;
    letter-spacing: -0.087em;
    z-index: 2;
}

#LabGitHub {
    position: absolute;
    top: 300px;
    left: 850px;
    width: 800px;
    height: 260px;
    background-repeat: no-repeat;
    background-image: url("img/Scene3Proj/Labyrinth/LabGithub.svg");
}

#LabGitHub:active {
    top: 320px;
    background-image: url("img/Scene3Proj/Labyrinth/LabGithub2.svg");
}

#IntTab {
    position: absolute;
    top: 850px;
    left: 1650px;
}

#BlueSplat {
    position: absolute;
    top: -300px;
    left: -475px;
    width: 1436px;
    height: 898px;
    background-repeat: no-repeat;
    background-image: url("img/Scene3/BlueSplat.svg");
    z-index: 1;
}

#IntDate{
    position: absolute;
    top: -125px;
    left: 415px;
    width: 160px;
    height: 135px;
    background-repeat: no-repeat;
    background-image: url("img/Scene3/2016Circle.svg");
    z-index: 2;
}

#IntLogo {
    position: absolute;
    top: -120px;
    left: -650px;
    width: 488px;
    height: 475px;
    background-repeat: no-repeat;
    background-image: url("img/Scene3/InterpreterLogo.svg");
    z-index: 1;
}

#Intbutton {
    position: absolute;
    padding: 0;
    border: none;
    background: none;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-align: center;
    color: rgba(0,0,0,.82);
    font-size: 20px;
    top: 290px;
    left: 150px;
    z-index: 8;
}

#Intbutton:active {
    border: none;
    background: none;
    color: #fff;
}

#Intbutton:hover {
    cursor:pointer;
}

#Intbutton:focus {
    outline: none;
}

#IntFull {
    position: absolute;
    left: 6500px; /* 2500 */
}

#BannerBody {
    position: relative;
    top: -1778px;
    left: 150px;
}

#MainBody {
    position: relative;
    top: -1779px;
    left: 150px;
}

#BlueCloud {
    position: relative;
    top: -500px;
    left: -200px;
    width: 2564px;
    height: 1779px;
    background-image: url("img/Scene3Proj/Interpreter/BlueCloud.svg");
}

#IntExtTitle{
    position: absolute;
    top: 355px;
    left: 400px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 135px;
    letter-spacing: -0.087em;
    z-index: 1;
}

#IntSubTitle{
    position: absolute;
    top: 550px;
    left: 400px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 52px;
    text-align: left;
    letter-spacing: -0.087em;
    z-index: 1;
}

#IntExtDate{
    position: absolute;
    top: 200px;
    left: 200px;
    width: 216px;
    height: 193px;
    background-size: 95% 95%;
    background-repeat: no-repeat;
    background-image: url("img/Scene3Proj/Interpreter/IntDate.svg");
    z-index: 4;
}

#IntExtLogo {
    position: absolute;
    top: 150px;
    left: 1200px;
    width: 636px;
    height: 619px;
    background-image: url("img/Scene3Proj/Interpreter/IntExtLogo.svg");
    z-index: 1;
}

.IntBody {
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 40px;
    text-align: left;
    letter-spacing: -0.087em;
    z-index: 1;
}

#Body1 {
    position: absolute;
    top: 1680px;
    left: 380px;
}

#Body2 {
    position: absolute;
    text-align: center;
    top: 2025px;
    left: 525px;
}

#Body3 {
    position: absolute;
    text-align: center;
    top: 2725px;
    left: 525px;
}

#CodeBlock1 {
    position: absolute;
    top: 1615px;
    left: 1100px;
    width: 582px;
    height: 325px;
    background-image: url("img/Scene3Proj/Interpreter/BlockGroup1.svg");
    z-index: 1;
}

#CodeBlock2 {
    position: absolute;
    top: 2275px;
    left: 240px;
    width: 1432px;
    height: 410px;
    background-image: url("img/Scene3Proj/Interpreter/BlockGroup2.svg");
    z-index: 1;
}

#CodeBlock3 {
    position: absolute;
    top: 2950px;
    left: 240px;
    width: 1428px;
    height: 479px;
    background-image: url("img/Scene3Proj/Interpreter/BlockGroup3.svg");
    z-index: 1;
}

#CodeBackground {
    position: absolute;
    top: 1500px; /* 1500 */
    width: 1920px;
    height: 2039px;
    background-image: url("img/Scene3Proj/Interpreter/CodeBackground.svg");
}

#learnSection2 {
    position: absolute;
    top: 3592px;
    left: 0px;
    color: #555555;
    font-family: 'Roboto Slab', serif; 
    text-align: center;
}

#BulbCol {
    position: relative;
    top: -20px;
}

.LearnTitle.Lambda {
    position: relative;
    top: 32px;
}

.LearnDesc.Lambda {
    position: relative;
    top: 32px;
}

.LearnTitle.Clock {
    position: relative;
    top: 14px;
}

.LearnDesc.Clock {
    position: relative;
    top: 14px;
}

.LearnTitle.Bulb {
    position: relative;
    top: -23px;
}

.LearnDesc.Bulb {
    position: relative;
    top: -23px;
}

#Cols {
    position: relative;
    left: -45px;
}

#GridBanner2 {
    position: absolute;
    top: 4742px;
    left: -50px;
    width: 2083px;
    height: 866px;
    background-repeat: no-repeat;
    background-image: url("img/Scene3Proj/Interpreter/DownloadBanner.svg");
    z-index: 0;
}

#DownloadTitle2 {
    position: absolute;
    top: 100px;
    left: 496px;
    color: #555555;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 96px;
    letter-spacing: -0.087em;
    z-index: 2;
}

#LabGitHub2 {
    position: absolute;
    top: 300px;
    left: 646px;
    width: 800px;
    height: 260px;
    background-repeat: no-repeat;
    background-image: url("img/Scene3Proj/Interpreter/DownloadButton.svg");
}

#LabGitHub2:active {
    top: 320px;
    background-image: url("img/Scene3Proj/Interpreter/DownLoadButtonPressed.svg");
}

#CompTab {
    position: absolute;
    top: 1500px;
    left: 1100px;
}

#GreenSplat {
    position: absolute;
    top: -300px;
    left: -475px;
    width: 1356px;
    height: 848px;
    background-repeat: no-repeat;
    background-image: url("img/Scene3/GreenSplat.svg");
    z-index: 1;
}

#CompDate{
    position: absolute;
    top: -125px;
    left: 350px;
    width: 160px;
    height: 135px;
    background-repeat: no-repeat;
    background-image: url("img/Scene3/2017Circle.svg");
    z-index: 2;
}

#CompLogo {
    position: absolute;
    top: -150px;
    left: 600px;
    width: 457px;
    height: 548px;
    background-repeat: no-repeat;
    background-image: url("img/Scene3/CompilerLogo.svg");
    z-index: 1;
}

#CompFull {
    position: absolute;
    left: 8850px; /* 5000  for x coor as well*/
}

#GreenCloud {
    position: relative;
    top: -490px;
    left: -550px;
    width: 3084px;
    height: 1695px;
    background-image: url("img/Scene3Proj/Compiler/GreenCloud.svg");
}

#CompExtDate{
    position: absolute;
    top: 190px;
    left: 200px;
    width: 216px;
    height: 193px;
    background-size: 95% 95%;
    background-repeat: no-repeat;
    background-image: url("img/Scene3Proj/Compiler/CompDate.svg");
    z-index: 4;
}

#CompExtTitle{
    position: absolute;
    top: 348px;
    left: 400px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 135px;
    letter-spacing: -0.087em;
    z-index: 1;
}

#CompSubTitle{
    position: absolute;
    top: 550px;
    left: 400px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 52px;
    text-align: left;
    letter-spacing: -0.087em;
    z-index: 1;
}

#CompExtLogo {
    position: absolute;
    top: 150px;
    left: 1100px;
    width: 613px;
    height: 735px;
    background-image: url("img/Scene3Proj/Compiler/CompExtLogo.svg");
    z-index: 1;
}

#CompText1 {
    position: absolute;
    top: 1350px;
    left: 200px;
    color: #96CDB9;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 48px;
    text-align: left;
    letter-spacing: -0.119em;
    z-index: 1;
}

#CompText2 {
    position: absolute;
    top: 1800px;
    left: 300px;
    color: #AFAFAF;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 48px;
    text-align: right;
    letter-spacing: -0.119em;
    z-index: 1;
}

#CompText3 {
    position: absolute;
    top: 2125px;
    left: 675px;
}

#CompText31{
    position: relative;
    left: -200px;
}

#CompText32{
    position: relative;
    left: -100px;
}

#CompText33{
    position: relative;
    left: 0px;
}

#CompText34{
    position: relative;
    left: 100px;
}

.CText {
    margin: 40px;
    padding: 0px;
    color: #85AB97;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 42px;
    text-align: left;
    letter-spacing: -0.119em;
    z-index: 1;
}

#CompText4 {
    position: absolute;
    top: 2675px;
    left: 800px;
    color: #B1B1B1;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 48px;
    text-align: left;
    letter-spacing: -0.119em;
    z-index: 1;
}

#CompText5 {
    position: absolute;
    top: 3050px;
    left: 900px;
    color: #88CCA1;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 48px;
    text-align: right;
    letter-spacing: -0.119em;
    z-index: 1;
}

#CompBlock1 {
    position: absolute;
    top: 1300px;
    left: 1070px;
    width: 1170px;
    height: 1025px;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-image: url("img/Scene3Proj/Compiler/CodePanel1.svg");
    z-index: -2;
}

#CompBlock1.Invisible {
    opacity: 0;
}

#CompBlock2 {
    position: absolute;
    top: 2600px;
    left: -100px;
    width: 703px;
    height: 968px;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-image: url("img/Scene3Proj/Compiler/CodePanel2.svg");
    z-index: -2;
}

#SwitchCol {
    position: relative;
    top: 30px;
}

.LearnTitle.Switch {
    position: relative;
    top: 45px;
}

.LearnDesc.Switch {
    position: relative;
    top: 45px;
}

#PencilCol {
    position: relative;
    top: 10px;
}

.LearnTitle.Pencil {
    position: relative;
    top: 28px;
}

.LearnDesc.Pencil {
    position: relative;
    top: 28px;
}

#CapCol {
    position: relative;
    top: -55px;
}

.LearnTitle.Cap {
    position: relative;
    top: -55px;
}

.LearnDesc.Cap {
    position: relative;
    top: -55px;
}

#DownloadTitle3 {
    position: absolute;
    top: 185px;
    left: 496px;
    color: #555555;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 96px;
    letter-spacing: -0.087em;
    z-index: 2;
}

#LabGitHub3 {
    position: absolute;
    top: 385px;
    left: 646px;
    width: 800px;
    height: 260px;
    background-repeat: no-repeat;
    background-image: url("img/Scene3Proj/Compiler/DownloadButton.svg");
}

#LabGitHub3:active {
    top: 320px;
    background-image: url("img/Scene3Proj/Compiler/DownLoadButtonPressed.svg");
}

#GridBanner3 {
    position: absolute;
    top: 1065px;
    left: -50px;
    width: 2240px;
    height: 1050px;
    background-repeat: no-repeat;
    background-image: url("img/Scene3Proj/Compiler/CompBanner.svg");
    z-index: 0;
}

#Compbutton {
    position: absolute;
    padding: 0;
    border: none;
    background: none;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-align: center;
    color: rgba(0,0,0,.82);
    font-size: 20px;
    top: 280px;
    left: 115px;
    z-index: 8;
}

#Compbutton:active {
    border: none;
    background: none;
    color: #fff;
}

#Compbutton:hover {
    cursor:pointer;
}

#Compbutton:focus {
    outline: none;
}

#AlgoTab {
    position: absolute;
    top: 2275px;
    left: 1700px;
    z-index: 3;
}

#YellowSplat {
    position: absolute;
    top: -315px;
    left: -220px;
    width: 1100px;
    height: 735px;
    background-repeat: no-repeat;
    background-image: url("img/Scene3/YellowSplat.svg");
    transform: rotate(-6deg);
}

#AlgoDate{
    position: absolute;
    top: -130px;
    left: 450px;
    width: 166px;
    height: 139px;
    background-repeat: no-repeat;
    background-image: url("img/Scene3/2018Circle.svg");
}

#AlgoTitle{
    position: relative;
    color: #555555;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 64px;
    letter-spacing: -0.087em;
    white-space: nowrap;
}

#AlgoLogo {
    position: absolute;
    top: -225px;
    left: -1000px;
    width: 790px;
    height: 634px;
    background-repeat: no-repeat;
    clip: rect(0px, 800px, 800px, 13px);
    background-image: url("img/Scene3/AlgoLogo.svg");
}


#Algobutton {
    position: absolute;
    padding: 0;
    border: none;
    background: none;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-align: center;
    color: rgba(0,0,0,.82);
    font-size: 20px;
    top: 240px;
    left: 205px;
    z-index: 8;
}

#AlgoFull {
    position: absolute;
    top: 0px;
    left: 2600px; /* 7540 for x coor as well*/
}

#YellowCloud {
    position: absolute;
    top: -450px;
    left: -400px;
    width: 3121px;
    height: 1718px;
    background-image: url("img/Scene3Proj/AlgoVisual/YellowCloud.svg");
    z-index: 0;
}

#YellowCloud2 {
    position: absolute;
    top: -450px;
    left: 10000px;
    width: 3121px;
    height: 1718px;
    background-image: url("img/Scene3Proj/AlgoVisual/YellowCloud.svg");
    z-index: 0;
}

#AlgoExtTitle{
    position: absolute;
    top: 382px;
    left: 210px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 100px;
    white-space: nowrap;
    letter-spacing: -0.087em;
    z-index: 1;
}

#AlgoExtDate{
    position: absolute;
    top: 197px;
    left: 200px;
    width: 216px;
    height: 193px;
    background-size: 95% 95%;
    background-repeat: no-repeat;
    background-image: url("img/Scene3Proj/AlgoVisual/AlgoDate.svg");
    z-index: 4;
}

#AlgoSubTitle{
    position: absolute;
    top: 550px;
    left: 285px;
    color: #555;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 52px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.087em;
    z-index: 1;
}

#AlgoExtLogo {
    position: absolute;
    top: 150px;
    left: 1000px;
    width: 785px;
    height: 633px;
    background-image: url("img/Scene3Proj/AlgoVisual/GridMain.svg");
    clip: rect(0px, 800px, 800px, 16px);
    z-index: 1;
}

#AlgoText1{
    position: absolute;
    top: 1250px;
    left: 200px;
    color: #555;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: -0.071em;
    z-index: 1;
}

#AlgoText2List {
    position: absolute;
    top: 1500px;
    left: 350px;
    text-align: center;
}

.AlgoLink{
    color: #555;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 40px;
    white-space: nowrap;
    display: inline-block;
    letter-spacing: -0.071em;
    text-decoration: none;
    padding: 10px;
    z-index: 1;
}

.AlgoLink:hover {
    color: #00FF80;
    cursor:pointer;
}

.AlgoLink:focus {
    outline: none;
}

#AlgoGridChangable {
    position: absolute;
    top: 1300px;
    left: 1070px;
    width: 644px;
    height: 644px;
    background-repeat: no-repeat;
    background-image: url("img/Scene3Proj/AlgoVisual/GridBase.svg");
    z-index: 1;
}

#AlgoGridChangable.Base {
    background-image: url("img/Scene3Proj/AlgoVisual/GridBase.svg");
}

#AlgoGridChangable.BFS {
    background-image: url("img/Scene3Proj/AlgoVisual/GridBFSDJIK.svg");
}

#AlgoGridChangable.DFS {
    background-image: url("img/Scene3Proj/AlgoVisual/GridDFS.svg");
}

#AlgoGridChangable.DJ {
    background-image: url("img/Scene3Proj/AlgoVisual/GridBFSDJIK.svg");
}

#AlgoGridChangable.AStar {
    background-image: url("img/Scene3Proj/AlgoVisual/GridAStar.svg");
}

#AlgoSettings {
    position: absolute;
    top: 2050px;
    left: 250px;
    width: 558px;
    height: 696px;
    background-repeat: no-repeat;
    background-image: url("img/Scene3Proj/AlgoVisual/Settings.svg");
    z-index: 1;
}

#AlgoText3{
    position: absolute;
    top: 2075px;
    left: 1170px;
    color: #555;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: -0.071em;
    z-index: 1;
}

#AlgoText4{
    position: absolute;
    top: 2300px;
    left: 1100px;
    color: #555;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: -0.071em;
    line-height: 75px;
    z-index: 1;
}

#MiniCloud {
    position: absolute;
    top: 2675px;
    width: 2218px;
    height: 992px;
    background-repeat: no-repeat;
    background-image: url("img/Scene3Proj/AlgoVisual/YellowCloudMini.svg");
    z-index: 2;
}

#LinkTitle {
    position: absolute;
    top: 2950px;
    left: 650px;
    color: #555555;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 65px;
    white-space: nowrap;
    letter-spacing: -0.087em;
    z-index: 1;
}

#LinkSubTitle {
    position: absolute;
    top: 3150px;
    left: 350px;
    color: #555555;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 40px;
    white-space: nowrap;
    line-height: 75px;
    letter-spacing: -0.071em;
    z-index: 1;
}

#LinkLine {
    position: absolute;
    top: 3375px;
    left: 1200px;
    color: #555555;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 50px;
    white-space: nowrap;
    letter-spacing: -0.087em;
    text-decoration: none;
    z-index: 3;
}

#MiniGrid {
    position: absolute;
    top: 3150px;
    left: 1300px;
    width: 188px;
    height: 187px;
    background-repeat: no-repeat;
    background-image: url("img/Scene3Proj/AlgoVisual/BubbleIcon.svg");
    z-index: 1;
}

#LinkLine:active {
    top: 3380px;
    border: none;
    background: none;
}

#LinkLine:hover {
    color: #929292;
    cursor: pointer;
}

#LinkLine:focus {
    outline: none;
}

#learnSection4 {
    position: absolute;
    top: 3605px;
    white-space: nowrap;
    color: #555555;
    font-family: 'Roboto Slab', serif; 
    text-align: center;
}
#GlassCol {
    position: relative;
    top: -30px;
}

.LearnTitle.Glass {
    position: relative;
    top: -40px;
}

.LearnDesc.Glass {
    position: relative;
    top: -40px;
}

#AgileCol{
    position: relative;
    top: -144px;
}

.LearnTitle.Agile {
    position: relative;
    top: -94px;
}

.LearnDesc.Agile {
    position: relative;
    top: -94px;
}

#WebCol{
    position: relative;
    top: -5px;
}

.LearnTitle.Web {
    position: relative;
    top: 15px;
}

.LearnDesc.Web {
    position: relative;
    top: 15px;
}

#GridBanner4 {
    position: absolute;
    top: 4775px;
    left: -40px;
    width: 2010px;
    height: 783px;
    background-repeat: no-repeat;
    background-image: url("img/Scene3Proj/AlgoVisual/DownloadBanner.svg");
    z-index: 0;
}

#DownloadTitle4 {
    position: absolute;
    top: 68px;
    left: 496px;
    color: #555555;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 96px;
    letter-spacing: -0.087em;
    z-index: 2;
}

#AlgoGitHub4 {
    position: absolute;
    top: 267px;
    left: 646px;
    width: 800px;
    height: 260px;
    background-repeat: no-repeat;
    background-image: url("img/Scene3Proj/AlgoVisual/DownloadButton.svg");
}

#AlgoGitHub4:active {
    top: 265px;
    background-image: url("img/Scene3Proj/AlgoVisual/DownLoadButtonPressed.svg");
}

#Scene4 {
    position: relative;
    top: 11000px;
    left: 0px;
}

#Scene4Fade {
    position: absolute;
    top: 1030px;
    width: 300px;
    height: 900px;
    
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
    z-index: 1;
}

#ResumeText {
    position: absolute;
    top: -1750px;
    left: 800px;
    z-index: -3;
}

#Education {
    position: relative;
    top: 25px;
}

#EdTitle {
    position: absolute;
    top: 1100px;
    left: 200px;
    color: #555555;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 90px;
    letter-spacing: -0.071em;
    white-space: nowrap;
}

#EdSub1 {
    position: absolute;
    top: 1225px;
    left: 165px;
    color: #555555;
    font-family: 'Roboto Slab', serif;
    font-size: 54px;
    letter-spacing: -0.071em;
    white-space: nowrap;
}

#EdSub2 {
    position: absolute;
    top: 1300px;
    left: 200px;
    color: #555555;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 40.5px;
    letter-spacing: -0.071em;
    white-space: nowrap;
}

#Skills {
    position: relative;
    top: 950px;
}

#SkillTitle {
    position: absolute;
    top: 530px;
    left: 165px;
    color: #555555;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: -0.071em;
    white-space: nowrap;
}

.SkillList {
    position: absolute;
    top: 645px;
    left: 165px;
}

.Skill  {
    list-style: none;
    color: #555555;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size: 40px;
    letter-spacing: -0.071em;
}

.Skill.Col2 {
    position: absolute;
    top: 60px;
    left: 240px;
}

.Skill.Col3 {
    position: relative;
    top: -179px;
    left: 434px;
    white-space: nowrap;
}

.Skill.Col3.DataStruct {
    left: 383px;
}

.Skill.Col3.Repo {
    left: 225px;
}

#WhitePanel {
    position: absolute;
    top: -945px;
    left: 35px;
    width: 1905px;
    height: 1000px;
    background-color: #fff;
    border-radius: 60px;
    z-index: 2;
}

#LangPanel {
    position: absolute;
    top: -900px;
    left: 895px; /* 830 */
    width: 1122px;
    height: 1041px;
    background-repeat: no-repeat;
    background-image: url("img/Scene4/LanguagePanel4.svg");
    z-index: 1;
}

#LangPanel.invisible {
    opacity: 0;
}

#BubbleGraph {
    position: absolute;
    top: 330px;
    left: 525px;
    width: 285px;
    height: 295px;
    background-repeat: no-repeat;
    background-image: url("img/Scene4/BubbleGraph.svg");
}

#LangText {
    position: absolute;
    top: 115px;
    left: -15px;
}

h4 {
    position: absolute;
    top: 75px;
    left: 280px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 111px;
    letter-spacing: -0.071em;
    white-space: nowrap;
}

#FullResume {
    position: absolute;
    top: 680px;
    left: 350px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 46px;
    letter-spacing: -0.071em;
    white-space: nowrap;
}

.LangList {
    position: absolute;
    margin: 300px 0;
    top: 5px;
    left: 160px /* 140 */
}

.Lang {
    list-style: none;
    text-align: center;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 57px;
    letter-spacing: -0.071em;
}

#Scene5 {
    position: relative;
    top: 14620px;
}

#InfoTab {
    position: absolute;
    top: 290px;
    left: 880px; /* -100 */
    width: 1620px;
    height: 540px;
    background-size: 95% 95%;
    background-repeat: no-repeat;
    background-image: url("img/Scene5/InfoTab.svg");
    z-index: -2;
    opacity: 0;
}

#InfoTab.Visible {
    opacity: 1;
}

#Pose2 {
    position: absolute;
    top: 2440px;
    left: 895px;
    width: 1044px;
    height: 515px;
    background-repeat: no-repeat;
    clip: rect(2px, 1050px, 1050px, 0px);
    background-image: url("img/Scene5/Pose23.svg");
    z-index: 1;
    opacity: 0;
}

#Pose2.Visible {
    opacity: 1;
}

#Contact {
    position: absolute;
    top: 2825px;
    left: 500px;
    list-style: none;
    color: #555555;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 113px;
    letter-spacing: -0.071em;
    white-space: nowrap;
}